* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
}

.content {
    width: 800px;
    margin: 1em auto;
}

.clearfix::after {
    content: '';
    display: table;
    clear: both;
}

a {
    color: #000;
}

a:hover {
    text-decoration: none;
}

a:visited {
    color: #000;
}

.blocco {
    width: calc((100% - 2em) / 3);
    float: left;
    margin-bottom: 1em;
}

.blocco .sect-img {
    position: relative;
    height: 370px;

}

.blocco:hover .img-standard {
    z-index: 0;
}

.blocco:hover .cuore {
    color: red;
}

.centrale {
    margin: 0 1em;
}

.blocco .sect-img  img {
    width: 100%;
}

.sect-img .img-standard {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2;
}

.blocco .sect-img .img-hov {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
}

.blocco .sect-img .cuore {
    background-color: white;
    position: absolute;
    top: 5%;
    right: 0;
    z-index: 4;
    width: 1.5em;
    line-height: 1.5em;
    text-align: center;
}

.blocco .sect-img .plus {
    position: absolute;
    top: 330px;
    left: 0;
    z-index: 4;
}

.plus span {
    font-size: .6rem;
    padding: .2rem .3rem;
    color: white;
    font-weight: bold;
} 

.plus span.back-red {
    background-color: red;
}

.plus span.back-green {
    background-color: green;
}

.sect-txt span {
    font-size: .7em;
    vertical-align: top;
}

.sect-txt span:first-child {
    vertical-align: bottom;
}

.sect-txt h1 {
    font-size: .9em;
}

span.txt-red {
    color: red;
    font-weight: bold;
}
span.line {
    text-decoration: line-through;
}